<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidovshchik.tg.sms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application>
        <activity
            android:name=".CustomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait" />
        <service
            android:name=".NotificationService"
            android:exported="true"
            android:label="QKSMS"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <receiver android:name=".ToastReceiver" />
    </application>
</manifest>